{% load static %}

<!-- FOOTER -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">

                <!-- Business Time -->
                <div class="col-lg-4">
                    <div class="footer-top-box">
                        <h3>Business Time</h3>
                        <ul class="list-time">
                            <li>Monday - Friday: 08.00am to 05.00pm</li>
                            <li>Saturday: 10.00am to 08.00pm</li>
                            <li>Sunday: <span>Closed</span></li>
                        </ul>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-lg-4">
                    <div class="footer-top-box">
                        <h3>Newsletter</h3>
                        <form class="newsletter-box">
                            <input type="email" class="form-control" placeholder="Email Address*" required>
                            <button class="btn hvr-hover mt-2">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Social Media -->
                <div class="col-lg-4">
                    <div class="footer-top-box">
                        <h3>Social Media</h3>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- COPYRIGHT -->
<div class="footer-copyright text-center">
    <p class="footer-company">
        All Rights Reserved. &copy; 2026 <strong>Freshshop</strong>
    </p>
</div>